{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ksn52</title>
    <link rel="stylesheet" href="{% static 'mybl/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'mybl/favicon.png' %}">
    <script src="{% static 'mybl/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'mybl/Chart.min.js' %}"></script>
  </head>
  <body class='bg-success bg-light'>
  <!-- Статическая навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">ksn52</a>
        <div class="navbar-nav mx-1">
          <a class="nav-link" href="{% url 'hh' %}">hh</a>
        </div>
        <div class="navbar-nav mx-1">
          <a class="nav-link" href="{% url 'tickers' %}">Indices</a>
        </div>
        <div class="navbar-nav mx-1">
          <a class="nav-link" href="{% url 'blog' %}">Блог</a>
        </div>
        {% if user.is_authenticated %}
        <div class='d-flex flex-nowrap ml-auto'>
          <div class="navbar-nav mx-2 navbar-text ml-auto">
            <a> {{ user.username }} </a>
          </div>
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </div>
        </div>
        {% else %}
        <div class='d-flex flex-nowrap ml-auto'>
          <div class="navbar-nav mx-2">
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
          </div>
          <div class="navbar-nav">
             <a class="nav-link" href="{% url 'login' %}">Логин</a>
          </div>
        </div>
        {% endif %}
    </nav>
    <div class="container">
      <div>
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div> <!-- /container -->
  </body>
</html>
