{% extends "mybl/base.html" %}
{% load static %}
{% block content %}
<div class='d-flex justify-content-around m-2 flex-wrap align-items-start'>
  <table class='table-sm table-dark table-bordered'>
    <caption style='caption-side: top'><small>Количество вакансий, процент вакансий без опыта, 
    соотношение резюме к вакансиям за сегодня, суммарное место полученное по 3м сортировкам.</small></caption>
    {% for lang in langs %}
      <tr>
        {% if lang.name == 'C%23' %}
          <td class='bg-dark text-light'>
          {{ 'C#' }}
          </td>
        {% elif lang.name == 'cpp' %}
          <td class='bg-dark text-light'>
          {{ 'C++' }}
          </td>
        {% else %}
          <td class='bg-dark text-light'>
          {{ lang.name }}
          </td>
        {% endif %}
        <td class='text-right val-now'>
          {{ lang.val }}
        </td>
        <td class='text-right val_noexp-now'>
          {{ lang.val_noexp }}
        </td>
        <td class='text-right res_vac-now'>
          {{ lang.res_vac }}
        </td>
        <td class='text-right text-secondary bg-dark'>
          {{ lang.rate }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <table class='table-sm mt-4 table-dark table-bordered'>
    <caption style='caption-side: top'><small>Изменение от среднего за декабрь 2020 в %, 
    суммарное место полученное по 3м сортировкам.</small></caption>
    {% for chart in charts %}
      <tr>
        {% if chart.name == 'C%23' %}
          <td class='bg-dark text-light'>
          {{ 'C#' }}
          </td>
        {% elif chart.name == 'cpp' %}
          <td class='bg-dark text-light'>
          {{ 'C++' }}
          </td>
        {% else %}
          <td class='bg-dark text-light'>
          {{ chart.name }}
          </td>
        {% endif %}
        <td class='val-cndg-2020 text-right'>
          {{ chart.cnd_val }}
        </td>
        <td class='val_noexp-cndg-2020 text-right'>
          {{ chart.cnd_vn }}
        </td>
        <td class='res_vac-cndg-2020 text-right'>
          {{ chart.cnd_rv }}
        </td>
        <td class='text-right text-secondary bg-dark'>
          {{ chart.rate }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <table class='table-sm mt-4 table-dark table-bordered'>
    <caption style='caption-side: top'><small>Изменение от среднего за март 2021 в %, 
    суммарное место полученное по 3м сортировкам.</small></caption>
    {% for chart in charts_march %}
      <tr>
        {% if chart.name == 'C%23' %}
          <td class='bg-dark text-light'>
          {{ 'C#' }}
          </td>
        {% elif chart.name == 'cpp' %}
          <td class='bg-dark text-light'>
          {{ 'C++' }}
          </td>
        {% else %}
          <td class='bg-dark text-light'>
          {{ chart.name }}
          </td>
        {% endif %}
        <td class='val-cndg-2021 text-right'>
          {{ chart.cnd_val }}
        </td>
        <td class='val_noexp-cndg-2021 text-right'>
          {{ chart.cnd_vn }}
        </td>
        <td class='res_vac-cndg-2021 text-right'>
          {{ chart.cnd_rv }}
        </td>
        <td class='text-right text-secondary bg-dark'>
          {{ chart.rate }}
        </td>
      </tr>
    {% endfor %}
  </table>
    <div class='flex-wrap mt-4'>
    <div class='radWin d-flex justify-content-around'>
      <div>
        <label>Окно скользящего среднего: <input type='radio' id='w7' name='win' value="7" checked="checked">7</label>
        <label><input type='radio' id='w14' name='win' value="14">14</label>
        <label><input type='radio' id='w28' name='win' value="28">28</label>
      </div>
    </div>
    <div><canvas id="line-chart" width="800" height="450"></canvas></div>
  </div>
  <script type="text/javascript">
    var received_data  = {{ graphs|safe }};
    //console.log(received_data);
  </script>
<script src="{% static 'mybl/hh.js' %}"></script>
{% endblock content %}
</div>
</div>
