{% extends "mybl/base.html" %}
{% load static %}
{% block content %}
<body>
  <div class='d-flex justify-content-around m-2 flex-wrap align-items-start'>
    <div class='d-flex justify-center mt-2 flex-wrap' style='flex-basis: 30%;'>
      <div class='mb-3'>
        <small class='d-flex justify-center mt-1 text-secondary'>Изменение валюты относительно рубля<br> за период</small> 
        <form action="#" method="get" class='mr-auto'>
          <input type="number" value="1" name="mytextbox" size='3' min='1' id='mytextbox'>
          <input type="submit" class="button" value="дней" name="mybtn" id='mybtn'>
          <div>(от {{ date_delta }})</div>
        </form>
      </div>
      <div class='d-flex flex-nowrap'>
        <table class='table-sm table-bordered bg-success' style='height: 0px'>
          <tr>
            <th class='px-2'>Валюта</th>
            <th class='px-2'>%</th>
          </tr>
          {% for name, value in dif_plus %}
            <tr>
              <td class='currency_plus'>
                {{ name }}
              </td>
              <td class='value_plus'>
                {{ value }}
              </td>
            </tr>
          {% endfor %}
        </table>
        <table class='table-sm table-bordered bg-danger' style='height: 0px'>
          <tr>
            <th class='px-2'>Валюта</th>
            <th class='px-2'>%</th>
          </tr>
          {% for name, value in dif_minus %}
            <tr>
              <td class='currency_minus'>
                {{ name }}
              </td>
              <td class='value_minus'>
                {{ value }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    
    <table class='table-sm table-dark table-bordered' id='moex'>
      <caption style='caption-side: top' class='mb-1'>
        <span class='d-flex justify-content-start'>
          <small>Акции-лидеры и аутсайдеры Мосбиржи. <br>Разница между последней сессией и числом</small>
        </span>
        <span class='ml-auto'>
          <input type='number' id='days' value='2' size='3' min='2'>
          <input type='submit' class='button' id='stocks' value='дней назад'></input>
        </span>
        <span>20</span>
        <input type="radio" name='lenRows' checked="checked" onchange="deleteRow()"/>
        <span>75</span>
		  <input type="radio" name='lenRows' onchange="insRow()"/>
      <div class='date-dict2 text-dark'></div>
      </caption>
      <tr>
        <th class='px-5'>Акция</th>
        <th class='px-3'>%</th>
        <th class='px-5'>Акция</th>
        <th class='px-3'>%</th>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
    </table>
  </div>
  <script src="{% static 'mybl/index.js' %}"></script>
</body>
</html>
{% endblock content %}
