{% extends "mybl/base.html" %}
{% load static %}
{% block content %}
<body>
  <div class='d-flex justify-content-around m-2 flex-wrap align-items-start'>
    <div class='d-flex justify-center mt-2 flex-wrap' style='flex-basis: 30%;'>
      <div class='mb-3'>
        <small class='d-flex justify-center mt-1 text-secondary'>Изменение валюты относительно рубля<br> за период</small>
        <form action="#" method="get" class='mr-auto'>
          <input type="number" value="1" name="mytextbox" size='3' min='1'>
          <input type="submit" class="button" value="дней" name="mybtn">
        </form>
      </div>
      <div class='d-flex flex-nowrap'>
        <table class='table-sm table-striped table-bordered bg-danger' style='height: 0px;'>
          <tr>
            <th class='px-2'>Валюта</th>
            <th class='px-2'>%</th>
          </tr>
          {% for key, value in dif_plus %}
            <tr>
              <td>
                {{ key }}
              </td>
              <td>
                {{ value }}
              </td>
            </tr>
          {% endfor %}
        </table>
        <table class='table-sm table-striped table-bordered bg-success' style='height: 0px;'>
          <tr>
            <th class='px-2'>Валюта</th>
            <th class='px-2'>%</th>
          </tr>
          {% for name, value in dif_minus %}
            <tr>
              <td>
                {{ name }}
              </td>
              <td>
                {{ value }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    
    <table class='table-sm table-dark table-striped table-bordered'>
      <caption style='caption-side: top' class='mb-1'>
        <span class='d-flex justify-content-start'>
          <small>Акции-лидеры и аутсайдеры Мосбиржи. <br>Разница между последней сессией и числом</small>
        </span>
        <span class='ml-auto'>
          <input type='number' id='days' value='2' size='3' min='2'>
          <input type='submit' class='button' id='stocks' value='дней назад'></input>
        </span>
      </caption>
      <tr>
        <th class='px-5'>Акция</th>
        <th class='px-3'>%</th>
        <th class='px-5'>Акция</th>
        <th class='px-3'>%</th>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
            <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
            <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
      <tr>
        <td class='name-high'>-</td>
        <td class='change-high'>-</td>
        <td class='name-low'>-</td>
        <td class='change-low'>-</td>
      </tr>
    </table>
  </div>
  <!--script src='static/mybl/script.js'></script-->
  <script src="{% static 'mybl/index.js' %}"></script>
</body>
</html>
{% endblock content %}
