{% extends "mybl/base.html" %}
{% block content %}
{% load static %}
<div class='d-flex justify-content-around flex-wrap align-items-center'>
  <div class='d-flex justify-center mt-2 flex-nowrap align-items-end' style='flex-basis: 30%;'>
    <table class='table-sm table-dark table-striped table-bordered'>
      <form>
      <caption style='caption-side: top'><small></small></caption>
        <tr>
        <th class='text-center'>1</th>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r20' name='period' value="20">20</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r50' name='period' value="50" checked="checked">50</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r100' name='period' value="100">100</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r250' name='period' value="250">250</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r1000' name='period' value="1000">1000</td>
        </tr>
        <tr>
          <td nowrap><input type='radio' id='r5000' name='period' value="4800">5000</td>
        </tr>
      </form>
    </table>
    <table class='table-sm table-dark table-striped table-bordered'>
      <caption style='caption-side: top'><small></small></caption>
      <tr>
        <th class='px-2 text-center'>S&P500</th>
        <th class='px-2 text-center'>Nasdaq</th>
        <th class='px-2 text-center'>Russell</th>
        <th class='px-2 text-center'>VIX</th>
        <th class='px-2 text-center'>TR10</th>
        <th class='px-2 text-center'>WTI</th>
        <th class='px-2 text-center'>Gold</th>
      </tr>
      {% for ticker in chart_tickers %}
        <tr>
          <td class='change text-right'>
            {{ ticker.dif_gspc }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_ixic }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_rut }}
          </td>
          <td class='change-invert text-right'>
            {{ ticker.dif_vix }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_tnx }}
          </td>
          <td class='change text-right'>
            {{ ticker.dif_wti }}
          </td>
          <td class='change-invert text-right'>
            {{ ticker.dif_gold }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
    
  <div class='flex-wrap mt-3'>
    <div class='radWin d-flex justify-content-around'>
      <div>
        <label>Window of rolling correlation: <input type='radio' id='w5' name='win' value="5" checked="checked">5</label>
        <label><input type='radio' id='w15' name='win' value="15">15</label>
        <label><input type='radio' id='w30' name='win' value="30">30</label>
        <label><input type='radio' id='w50' name='win' value="50">50</label>
        <label><input type='radio' id='w100' name='win' value="100">100</label>
        <label><input type='radio' id='w200' name='win' value="200">200</label>
      </div>
    </div>
    <div class='d-flex justify-content-center flex-wrap align-items-center'>
      
      <input type="number" id="offset-input" value='0' min="0">
      <input type="submit" class="button" id="offset" value="offset to">
      <div  class='m-3' id="dateOffsetOutput"></div>
      <input type="number" id="level-input" value='30' min="0" max='100'>
      <input type="submit" class="button" id="level" value="level of VIX">
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart2" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart7" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart8" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart3" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart4" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart5" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart6" width="800" height="450"></canvas>
      </div>
    </div>
    <div class='d-flex'>
      <div class='d-flex'>
        <canvas id="line-chart9" width="800" height="450"></canvas>
      </div>
      <div class='d-flex'>
        <canvas id="line-chart10" width="800" height="450"></canvas>
      </div>
    </div>
    <script type="text/javascript">
      var received_data = {{ tickers1050|safe }};
    </script>
    <script src="{% static 'mybl/tickers.js' %}"></script>
    {% endblock content %}
  </div>
</div>
